$color-bg:#1E1E1E;
$color-text-regular: #CE9178;
$color-text-section-header: #4EC9B0;
$color-text-accent:#569CD6;
$color-text-function:#DCDCAA;
$color-button-border:#262626;
$color-button:#303030;
$color-white:#FFF;
$color-black:#000;