// ##################################################################### //
// ####################### figcaption positioning ###################### //
// ##################################################################### //
.project .project__caption{
    position: absolute;
    color: white;
    @supports not (inset:0){
        top: 1.25em;
        bottom: 1.25em;
        left: 1.25em;
        right: 1.25em;
    }
    @supports (inset:0){
        inset: 1.25em;
    }
    opacity: 0;
    transition: opacity ease-out 250ms;    
}

.project:hover .project__caption{
    opacity: 1;    
}

// ##################################################################### //
// ################# Hide and Show project description ################# //
// ##################################################################### //
.project__caption .project__description{
    visibility: hidden;
}

.project:first-child .project__caption .project__description{
    visibility: visible;
}

// ##################################################################### //
// ################ Position elements within figcaption ################ //
// ##################################################################### //

.project__caption .project__title,
.project__caption .project__description,
.project__caption .project__link{
    position: absolute;
    left: 4%;
    right: 1%;
    margin: 0;
}
.project__caption .project__title {
    top: 2%;
    width: inherit;
}

.project__caption .project__description {
    top: 20%;
    width: inherit;
    visibility: hidden;
}

.project__caption .project__link {
    bottom: 5%;
    width: max-content;
    position: absolute;
    
    // margin: 0 0.5em 0 auto;
    // padding: .2em .25em;
    // border-radius: 10px;
    // background: var(--clr-white);
    color: var(--clr-white);    
    text-decoration: underline;
}

// ##################################################################### //
// ########################## Figcaption hover ######################### //
// ##################################################################### //

.project::before .project__caption {
    content: '';
    margin-left: 1px solid white;
    margin-right: 1px solid white;
    transform: scale(0);
}
.project:hover::before .project__caption, 
.project:focus::before .project__caption{
    transform: scale(1);
}
