/***
 * 
 * About
 *  
 */

.about{
    margin-left: 16px;
    margin-right: 16px;    
}

.about samp{
    color: $color-white;
}

.about samp a{
    text-decoration: underline;
    color: aqua;
}

.about samp a:focus{
    color: aquamarine;
}