/***
 * 
 * About
 *  
 */

.about{
    margin-left: 16px;
    margin-right: 16px;    
}

.about samp{
    color: $color-white;
}

.about samp a{
    text-decoration: underline;
    color: aqua;
}

.about samp a:focus{
    color: aquamarine;
}
@media screen and (min-width: 666px){
    .about{
        padding: 0 2rem;
    }
}
@media screen and (min-width: 769px) {
    .about{
        margin: 0 32rem;
    }
}
