.contact form{
    display: grid;
    margin: auto 30px;
    grid-template-columns: auto;
    }
    
    .contact form label{
        color: $color-white;
        margin-bottom: 4px;
    }
    .contact form label:not(:first-of-type){
        margin-top: 4px;
    
    }
    
    
    .contact form input,textarea{
        
        border-radius: 7px;
    }
    
    .contact form input{
        
        height: 45px;
    }
    
    .contact form textarea{
        
        height: 110px;
        resize:vertical;
        min-height: 110px;
    }
    
    .contact form button {
        width: 158px;
        height: 60px;
        align-self: right;
        justify-self: right;
        background: #1C53B6;
        color: white;
        font-size: 14px;
        border: 1px solid #262626;
        border-radius: 7px;
        margin: 32px 0;
    }