

.welcome{    
    display: grid;
    grid-template-rows: 50% 50%;
    justify-content: center;
    text-align: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.76)), 
    url("/img/pexels-negative-space-92904.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  0,-80vw;
    /* background-size: 100% 80vh; */
    width: 100%;        
    height: 80vh;     
}
.welcome .greeting{
    align-self: end;
}
.welcome h1{  
    font-size: 48px;
    font-weight: bold;
    color: $color-text-section-header;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    

}
.welcome h2{
    margin: 0;
    padding: 0;
    font-size: 24px;
    
}

.welcome .down-pointer{
    position: relative;
    align-self: end;
    bottom: 1rem;
    

    
}
.down-pointer ellipse{    
    fill: none;
    stroke: #000000;
    stroke-width: 0.4px;
}
.welcome .down-pointer svg{
    width: calc(18.5px*1.5);
    height: calc(30.5px*1.5);
    position: relative;
    bottom: 0;
    
    
}

/***
 * 
 * Intro
 *  
 */
.intro {
    display: grid;
    grid-template-columns: 50% 50%;
    }

.intro-option{
    display: grid;
    width: 100%;
    height: 40vh;
    align-content: center;
    justify-content: center;
}


.intro-option.intro--left{
    background: $color-white;
    
}
.intro-option.intro--left h1{
    color: black;
}



.intro-option h1{
    
    font-size: 2.5rem;
}


.intro-option.intro--right{
    background: transparent;
}

.intro-option.intro--right h1{
    color: $color-text-function;
}