/***
 * 
 * Navigation
 *  
 */
.navigation-button{
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 1;
    background-color: transparent;
    border: none;
}

.navigation-button .hamburger{
    width: 25px;
    height: 15px;
    
}