/**
 * 
 * Portfolio
 * 
 */
.portfolio{
    margin: 0 2rem;        
    position: relative;
    font-size: 1rem;
}

.portfolio .portfolio-items{
    width: 100%;
    display: grid;
    justify-content: center;    
    grid-template-columns: auto auto;
    grid-template-areas: 
    "portfolio-primary portfolio-primary"
    "portfolio-1 portfolio-2"
    "portfolio-3 portfolio-4";
}

.portfolio-items .portfolio-item{
    margin: 0 auto;    
    height: 9.84375em;
}
.portfolio-items .portfolio-item#portfolio-primary {
    margin: 0 auto;    
    height: 19.6875em;
}
.portfolio-items .portfolio-item#portfolio-1{
    grid-area: portfolio-1;
}
.portfolio-items .portfolio-item#portfolio-2{
    grid-area: portfolio-2;
}
.portfolio-items .portfolio-item#portfolio-3{
    grid-area: portfolio-3;
}
.portfolio-items .portfolio-item#portfolio-4{
    grid-area: portfolio-4;
}
.portfolio-items .portfolio-item img{
    height: 9.84375em;
    width: 9.84375em;
    object-fit: cover;    
    object-position: center;    
    
}
.portfolio-items .portfolio-item#portfolio-primary{
    grid-area: portfolio-primary;
}
.portfolio-items .portfolio-item#portfolio-primary img{
    height: 19.6875em;
    width: 19.6875em;
}

.portfolio-item {
    position: relative;      
}

.portfolio-item figcaption.tapped {    
    top: 0;
    background: rgba($color:$color-text-accent, $alpha: 0.9);
    width: 100%;
    height: 100%;
    position: relative;
}

.portfolio-item figcaption h3,
.portfolio-item figcaption p,
.portfolio-item figcaption a{
    margin: auto 1rem;
}

.portfolio-item figcaption h3{

}
.portfolio-item figcaption p{
    font-size: 1.5rem;
    font-family: $font-ff-poppins;
    font-weight: $font-fw-regular;
    font-style: $font-fs-normal;
}

.portfolio-item figcaption a{ 
    width: max-content;
    height: auto;
    padding: .15em .5em;
    align-self: flex-end;
    background: $color-text-section-header;    
    border-radius: 20px;
}

.portfolio figcaption .modal-descripion{
    display: none;
}
.portfolio-item#portfolio-primary figcaption.tapped{
    font-size:1.5rem;    
}
.portfolio-item#portfolio-primary figcaption .modal-descripion{
    display: initial;
}

.portfolio figcaption{
    position: absolute;
    display: flex;
    flex-direction: column;    
    background: rgba($color:$color-button, $alpha: 0.9);
    width: 100%;
    height: 1.5em;
    bottom: 1em;
}

.portfolio figcaption.tapped{
    position: fixed;
    display: flex;
    flex-direction: column;    
    
    top:-100%
}



.portfolio-item:hover figcaption.tapped, .portfolio-item:focus figcaption.tapped{
    position: absolute;
    top: 0;        
}
.portfolio-item:hover figcaption, .portfolio-item:focus figcaption{
        position: fixed;
        top: -100%;
}

@include mq($breakpoint-phone){
    .portfolio .portfolio-items{

        grid-template-columns: auto auto auto;
        grid-template-areas:         
        "portfolio-primary portfolio-1 portfolio-2"
        "portfolio-primary portfolio-3 portfolio-4";
    }   
}

@include mq($breakpoint-tablet){
    .portfolio{
        font-size: 2rem;
    }
}