@mixin mq($min-width) {
    @media screen and (min-width:$min-width) {
        @content;
    }
}

@mixin container($width: 90%, $max-width: 50em){
    width: $width;
    margin: 0 auto;
    max-width: $max-width;
}