@include mq(480px){
// ====================================================== //
// ==================== Resumes Modal =================== //
// ====================================================== //

.resume-items {
    grid-template-columns: repeat(3, max-content);     
}
}
@include mq(768px){
    .resume-items {
        grid-template-columns: repeat(5, max-content);     
    }
}
@include mq(1024px){
    .resume-items {
        grid-template-columns: repeat(5, max-content);     
    }
    .resume__card {
        height: 9rem;
        width: 9rem;
    }
}
@include mq(1280px){
    .resume-items {
        grid-template-columns: repeat(7, max-content);     
    }
}
@include mq(1440px){

}
@include mq(1920px){
    .about {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }    

    samp::before{
        padding-left:1.5rem;
        padding-right:1.5rem;
        left: -1.5rem;
    }
    samp {
        
        margin-left: 0;
        margin-right: 0;
        width:calc(100% - 3rem);
        padding-left:1.5rem;
        padding-right:1.5rem;
    }

    .resume__card {
        height: 12rem;
        width: 12rem;
    }


}