/***
 * 
 * Call To Action (CTA)
 *  
 */

.cta{
    display: grid;    
    grid-column: 1/-1;
    margin-top: 0;
    width: 100%;   
    height: max-content; 
    background: transparent;
    justify-content: center;
    text-align: center;
    
    grid-template-areas: 
    "left center right";
    grid-template-columns: 20% 1fr 20%;
}
.cta img {
    object-fit: cover;
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.cta .cta__left{  
    grid-area: left;    
}
.cta .cta__right{    
    grid-area: right;    
}
.cta .profile{
    padding: 0 5vw;    
    align-self: center;
}
.cta .profile-icon{
    justify-self: center;
    height: 131px;
    width: 131px;
    background: url(/img/profile-icon.png), white;
    background-position-x:5px;
    background-size: contain;
    border-radius: 50%;

    margin: 21px auto 0;
    
}

.cta h3,h2{
    margin: 0;
    padding: 0;
    margin-top: 4px;
}

.cta h3{
    font-size: 14px;
    color: $color-white;
    align-self: end;
    grid-area: h3;

}
.cta h2{
    font-size: 24px;
    color: $color-text-accent;
    grid-area: h2;
    
}





