/***
 * 
 * Call To Action (CTA)
 *  
 */

.cta {
    grid-column: left/-right;
    width: auto;
    margin: 0 379px;   
    // height: 31.25rem; 
    height: auto;
    background: transparent;
    justify-self: center;    
    background: var(--clr-primary-300);
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 2rem;
    
}

.cta h1 {
    font-family: $font-ff-oxanium;
    font-weight: $font-fw-regular;
    font-size: 48px;
    color: var(--clr-white);
    // padding: 0 32px;
    
}

.cta h1::after {
    display: block;
    position: relative;
    top: 16px;
    content: '';
    border-bottom: 1px solid var(--clr-secondary-550);
    width: 300px;
    height: 1px;
    margin: 0 auto;

}

.cta .quote::before, .cta .quote::after {
    color: var(--clr-accent-500);    
    font-size: 2rem;
}
.cta .quote::before {
    content: open-quote;
}
.cta .quote::after {
    content: close-quote;   
}
.cta .quote {
    
    font-family: $font-ff-poppins;
    font-weight: $font-fw-regular;
    font-size: 18px;
    color: var(--clr-white);
    // padding: 0 32px;
    text-align: center;
    margin: 0 8px;
    
}
.cta .ending-statement {
    font-family: $font-ff-poppins;
    font-weight: initial;
    font-style: italic;
    font-size: 24px;
    text-align: center;
    color: var(--clr-white);
    
}

.cta__button {
    font-family: $font-ff-poppins;
    font-weight: $font-fw-extrabold;
    font-size: 36px;
    text-decoration: none;
    color: var(--clr-accent-500);
    padding: 1.5px 20px;
    border:  solid 1px var(--clr-primary-250);
    border-radius: 50px;
    width: max-content;
    text-transform: uppercase;
    margin: 0 auto;
    background: var(--clr-primary-350);    

    // text-shadow:
    // -1px -1px 0 #00E5B1,  
    //  1px -1px 0 #00E5B1,
    //  -1px 1px 0 #00E5B1,
    //   1px 1px 0 #00E5B1;
}





