.portfolio-modal{
    position: fixed;
    font-size: 14px;
    top: 2em;
    bottom: 2em;
    left: 2em;
    right: 2em;
    background: var(--clr-primary-200);    
    z-index: 10;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;     
    color: var(--clr-white);
    padding-bottom: 1rem;
}
.portfolio-modal.modal-open{
    display: block;
    
}

.portfolio-modal p{
    margin: 0 16px;
}
.portfolio-modal .project__image{
    background: var(--clr-accent-700);
}
.portfolio-modal .text-image img {
    width: 50%;
    float: right;
    clear: left;
    margin-left: 1%;
    
}

.portfolio-modal .image-text img {
    width: 50%;
    float: left;
    clear: right;
}

svg.close-modal{
    // background: rgb(var(--color-white));
    position: fixed;
    top: 1em;
    bottom: 1em;
    left: 1em;
    right: 1em;
    stroke: var(--clr-black);
    stroke-width: 2;
    height: 32;
    width: 32;

    
    }
    svg.close-modal circle {
        fill:var(--clr-white);
        stroke:none;
    }

.portfolio-modal .container {
    position: fixed;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;    
    
    width: calc(100% - 4rem);
    height: calc(100vh - 4rem);
    overflow-y: hidden;
    
    
}
.project__title, .project__image, .project__summary, .portfolio__modal p {
    margin: 0 1em;

}
// .portfolio-modal .project__title{
    

// }
.portfolio-modal .project__image{
    margin-left: -1rem;
    width: calc(100vw - 2rem);
    height: 20vh;
    object-fit: cover;

}
.portfolio-modal .project__summary{
    margin-bottom: 1rem;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;

    color: var(--color-inverted);
}

.about .portfolio-modal{
    display: none;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    "title title title"
    "search search-icon filter"
    "resume-items resume-items resume-items";
    background: var(--clr-primary-200);
}

.about .portfolio-modal.modal-open {
    display: grid;
}
.about .portfolio-modal .project__title {
    grid-column: title/title;
    height: min-content;
}
.about .portfolio-modal .project__search {
    display: flex;
    flex-direction: row;
    
    height: min-content;
    // margin-right: .5rem;
    margin: 0 1rem;
}
.about .portfolio-modal .project__search--icon {
    font-size: 20px;
}
.about .portfolio-modal .project__search--input {
    margin-right: .5rem;
    flex-basis: 100%;
}
.about .portfolio-modal .project__filter {
    grid-column: filter/filter;
    height: min-content;
    width: min-content;
    font-size: 20px;
    padding: 0 1rem;
}
.about .portfolio-modal .resume-items {
    grid-column: resume-items/resume-items;
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    column-gap: 10px ;
    row-gap: 10px;
    // border: black solid 2px;
    height: min-content;
    width: calc(100% - 4rem);
    margin: .25rem 15px;
    
    
}


.resume-items .resume__card{    
    background: var(--clr-primary-300);
    margin: 0;
    width: 8em;
    height: 8em;
    color: var(--clr-white);
    border: 3px solid var(--color-fg);
    border-radius: .5rem;
    position: relative;
}

.resume-items .resume__card a{
    position: absolute;
    display: block;
    height: inherit;
    width: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.resume-items .resume__role {
    
    font-size: 24px;
    font-family: $font-ff-oxanium;
    font-weight: $font-fw-semibold;
    text-align: center;
    line-height: initial;
    color: var(--clr-white);
}

