/***
 * 
 * Navigation
 *  
 */
.navigation-button{
    position: fixed;
    right: 10%;
    top: 15px;
    z-index: 1;
    background-color: transparent;
    border: none;
}

.navigation-button .hamburger{
    width: 25px;
    height: 15px;
}

symbol.hamburger__svg line.burger{
    stroke-width: 2px;
}

.nav-open nav{
    transform: translateX(0) translateY(0);;
}

nav{      
    z-index: 10;
    display: grid;
    margin: 0;
    padding: 0; 
    height: 100%;
    width: 75%;
    grid-column: left / -right;    
    background: var(--color-fg);
    grid-auto-flow: row;
    transform: translateX(-100%) translateY(-100%);
    transition: ease-out 250ms;
    position: fixed;
    @supports not (inset:0) {
        top: 0;
        bottom: 0;
        left: 0;    
    }
    inset:0;
    

}

nav .name{
    display: none;
}

nav .page-links{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

nav .page-links > a{
    flex-grow: 100;
    text-decoration: none;
    color: rgb(var(--color-fg));
    text-align: center;
    width: 100%;
    padding: 25% 0;
    background: rgb(var(--color-button));
}

nav .page-links a:hover, nav .page-links a:focus-visible{
    background-color: rgb(var(--color-fg));
    border: none;
}

nav .page-links > a:not(:last-of-type){
    border-bottom: black solid 1px;
}



nav .social-links{
    display: none;
}
