/***
 * 
 * Welcome
 *  
 */

section.welcome {    
    // display: grid;
    grid-column: left / -right;
    grid-auto-flow: row;
    justify-content: center;
    text-align: center;
    --bg-dark: rgb(var(--color-bg), 0.76);
    --bg-light: rgb(var(--color-bg), 0.56);
    background: linear-gradient(0deg, var(--bg-light), var(--bg-dark)), 
    url("/img/pexels-negative-space-92904 cropped.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position:  0,center;
    /* background-size: 100% 80vh; */
    width: 100%;             
    margin-top: 0; 
    grid-row: 2;
}

.profile {
    margin-top: 62px;
    margin-bottom: 21px;
}

.welcome .profile-icon {
    height: 131px;
    width: 131px;
    background: url(/img/profile-icon.png), var(--color-fg);
    background-position-x:5px;
    background-size: contain;
    border-radius: 50%;
    margin: 0 auto 0;
    margin-bottom: 1.3em;
    
}
.welcome .greeting{
    align-self: end;
}
.welcome h3{  
    // font-size: 56px;
    font-size: 1.25rem;
    font-weight: $font-fw-semibold;
    font-family: $font-ff-poppins;
    color: var(--color-white-990);
    margin: 0;
    padding: 0;
}
.welcome h2{
    // font-size: 75px;
    font-size: 3rem;
    font-weight: $font-fw-semibold;
    font-family: $font-ff-poppins;
    color: var(--color-accent-500);
    margin: 0;
    padding: 0;   
}

.welcome .down-pointer{
    display: block;
    fill: var(--color-white-990);    
    height: min-content;
    margin-bottom: 2rem;
}
.down-pointer ellipse{    
    fill: none;
    stroke: var(--color-white-990);
    stroke-width: 0.4px;
}
.welcome .down-pointer svg{
    width: calc(18.5px*1.5);
    height: calc(31px*1.5);
    position: relative;
    bottom: 0;   
}
