@mixin mq ($min-width){
    @media screen and (min-width: $min-width) {
        @content;
    }
}

@mixin container($top,$right,$bottom,$left){
    margin: $top $right $bottom $left;
}
@mixin container($top,$side){
    margin: $top $side;
}
@mixin container($size){
    margin: $size;
}

@function invert-colour($color){
    @if(lightness($color) <= 51){
       @return hsl(0, 0%, 100%);
    }@else{
        @return hsl(0, 0%, 0%);
    }
}
