.welcome {
    text-align: center;        
    display: flex;
    flex-direction:column;
    min-height: calc(var(--vh, 1vh) * 95);
    padding-top: 4rem;    
}
@import 'profile';
@import 'pointer';
@import 'responsive';