/*
1920x1080
1536x864
1366x768
414x896
360x800
360x640
*/




// 480px, 768px, 1024px, and 1280px
@include mq(480px){
    
    .navigation-button {
        visibility: hidden;
    }

    nav{
        transform: translateX(0);
        grid-row: 1;

        height: 10vh;
        
        width: 100%;

    }
    
    nav .page-links{
        flex-direction: row;        
        align-items: center;    
        height: auto;
    }

    nav .page-links a{
        padding: 0;
        height: 10vh;
        line-height: 10vh;
    }

    nav .page-links > a:not(:last-of-type){
        border-bottom: none;
        border-right: black solid 1px;
    }


    
    .welcome .greeting h1{
       font-size: 4rem; 
    }
    .welcome .greeting h2{
        font-size: 3rem;
    }

    .cta .profile .profile-icon{
        height: 262px;
        width: 262px;
    }

    .cta .profile h3{
        font-size: 1.5rem;
    }
    .cta .profile h2{
        font-size: 3rem;
    }

    h1{
        font-size: 4rem;
    }
    .projects{
        grid-template-areas: 
        "primary primary"
        "primary primary";
        grid-template-columns: repeat(4, 25vw);
        grid-auto-rows: 25vw;
        
        
    }    
    .project, .project img{
        width: 100%;
        height: 100%;
    }    


}

@include mq(768px){    
    nav{
        transform: translateX(0);
        height: 5vh;
        width: 100%;
    }
    
    nav .page-links a{
        padding: 0;
        height: 5vh;
        line-height: 5vh;
    }


    .contact{
        display: grid;    
        grid-column: left/-right;
        grid-template-rows: auto 1fr;
        grid-template-columns: 20% 1fr 20%;
        grid-template-areas: 
          "left center right";
      }

      .contact h1, .contact-form{
        grid-column: center;
      }
      .contact-form {
        display: grid;
        margin: 0;
        grid-template-columns: auto;
        grid-row: 2; 
      }

      .project .project__caption .project__title{
        font-size: 1.75rem;
        margin-top: 1rem;
        
      }
      .project--primary .project__caption .project__title{
        font-size: 3rem;
        margin-top: 1rem;
      }

      .project--primary .project__caption .project__description{
          top: 30%;
          font-size: 2rem;
          line-height: 2rem;
      }
}

@include mq(1024px){
    nav{

        transform: translateX(0);
        height: 5vh;
        width: 100%;
    }
    
    nav .page-links a{
        padding: 0;
        height: 5vh;
        line-height: 5vh;
    }
    
    .projects{
        margin: 0 1rem;
        width: calc(100% - 3vw);

        grid-template-columns: repeat(4, 24.25vw);
    }
}

@include mq(1280px){
    nav{

        transform: translateX(0);
        height: 5vh;
        width: 100%;
    }
    
    nav .page-links a{
        padding: 0;
        height: 5vh;
        line-height: 5vh;
    }
    .contact,.cta {
        grid-template-columns: 30% 1fr 30%;
    }


}
//1280px, 1440px, and 1920px.
@include mq(1440px){
    nav{

        transform: translateX(0);
        height: 5vh;
        width: 100%;
    }
    
    nav .page-links a{
        padding: 0;
        height: 5vh;
        line-height: 5vh;
    }
}
@include mq(1920px){
    nav{

        transform: translateX(0);
        height: 5vh;
        width: 100%;
    }
    
    nav .page-links a{
        padding: 0;
        height: 5vh;
        line-height: 5vh;
    }

    .cta .cta__button{
        margin: 0 auto;
        font-size: 48px;
    }    
    .project {
        grid-column: span 2;
        grid-row: span 2;
    }
    .project .project__caption .project__description{
        visibility: visible;
    }
    .project .project__caption .project__title{font-size: 4rem; line-height: normal;}
    .project .project__caption .project__description {font-size: 2.5rem; line-height: normal;}
    .project .project__caption .project__link {font-size: 2.5rem; line-height: normal;}
    .about samp {
        margin: 0 379px;
        width: auto;
    }

    .portfolio-modal{
        top: 6em;
        bottom: 6em;
        left: 6em;
        right: 6em;        
    }

    .portfolio-modal .project__summary, .portfolio-modal .text-image, .portfolio-modal .image-text, .project-modal p{
        @include container(0 23rem);
        margin-top: 3rem;
    }



    .portfolio-modal .close-modal{
        top: 5em;
        bottom: 5em;
        left: 5em;
        right: 5em;
    }
}