$light-vars:(  
    // clr-primary-500: hsl(232, 78%, 9%), 
    // clr-primary-350: hsl(231, 18%, 35%), 
    // clr-primary-300: hsl(231, 18%, 30%), 
    // clr-primary-250: hsl(231, 18%, 25%), 
    // clr-primary-200: hsl(231, 18%, 20%), 
    
    // clr-accent-500: hsl(166, 100%, 50%),

    // clr-secondary-520: hsl(198, 30%, 52%),
    // clr-secondary-320: hsl(198, 30%, 32%),
    // clr-secondary-120: hsl(198, 30%, 12%),

    // clr-white: hsl(0, 0%, 99%),
    // clr-black: hsl(0, 0%, 8%),
    // clr-dim-gray: hsl(0, 0%, 41%),
    // clr-brand-github: hsl(0,0%,0%),
    // clr-brand-twitter: hsl(204, 88%, 53%),
    // clr-brand-dribbble:  hsl(0, 0%, 27%),

    // clr-about-body: hsl(231, 18%, 35%),
    // clr-about-head: hsl(231, 18%, 30%)

    clr-primary-500: hsl(231, 18%, 50%), 
    clr-primary-350: hsl(231, 18%, 35%), 
    clr-primary-300: hsl(231, 18%, 30%), 
    clr-primary-250: hsl(231, 18%, 25%), 
    clr-primary-200: hsl(231, 18%, 20%), 
    
    clr-accent-500: hsl(166, 100%, 50%),

    clr-secondary-520: hsl(198, 30%, 52%),
    clr-secondary-320: hsl(198, 30%, 32%),
    clr-secondary-120: hsl(198, 30%, 12%),

    clr-white: hsl(0, 0%, 99%),
    clr-black: hsl(0, 0%, 8%),
    clr-dim-gray: hsl(0, 0%, 41%),
    clr-brand-github: hsl(0, 0%, 100%),
    clr-brand-twitter: hsl(0, 0%, 100%),
    clr-brand-dribbble:  hsl(0, 0%, 100%),

    clr-about-body: hsl(231, 18%, 35%),
    clr-about-head: hsl(231, 18%, 30%)
);
    
$dark-vars:(  
    clr-primary-500: hsl(231, 18%, 50%), 
    clr-primary-350: hsl(231, 18%, 35%), 
    clr-primary-300: hsl(231, 18%, 30%), 
    clr-primary-250: hsl(231, 18%, 25%), 
    clr-primary-200: hsl(231, 18%, 20%), 
    
    clr-accent-500: hsl(166, 100%, 50%),

    clr-secondary-520: hsl(198, 30%, 52%),
    clr-secondary-320: hsl(198, 30%, 32%),
    clr-secondary-120: hsl(198, 30%, 12%),

    clr-white: hsl(0, 0%, 99%),
    clr-black: hsl(0, 0%, 8%),
    clr-dim-gray: hsl(0, 0%, 41%),
    clr-brand-github: hsl(0, 0%, 100%),
    clr-brand-twitter: hsl(0, 0%, 100%),
    clr-brand-dribbble:  hsl(0, 0%, 100%),

    clr-about-body: hsl(231, 18%, 35%),
    clr-about-head: hsl(231, 18%, 30%)
    );

    


    

    @mixin vars($name, $value) {
        #{$name}: map-get($light-vars, $value);
        #{$name}: var(--#{$value});
    }
:root{
    @each $property, $value in $light-vars {
        --#{$property}: #{$value};
    }
    
    



}
:root.dark-mode{
    @each $property, $value in $dark-vars {
        --#{$property}: #{$value};
    }
}

@media (prefers-color-scheme: dark){
    :root {
        @each $property, $value in $dark-vars {
            --#{$property}: #{$value};
        }

    }

    :root.light-mode{
        @each $property, $value in $light-vars {
            --#{$property}: #{$value};
        }
        
    }   
}
// $color-bg:#333333;
// $color-text-regular: #CE9178;
// $color-text-section-header: #4EC9B0;
// $color-text-accent:#569CD6;
// $color-text-function:#DCDCAA;
// $color-button-border:#262626;
// $color-button:#303030;
// $color-white:#FFF;
// $color-black:#000;

$font-ff-poppins:"Poppins", sans-serif;
$font-ff-sourcecode:"Source Code Pro", monospace;
$font-ff-oxanium:'Oxanium', cursive;
$font-ff-font-awesome-free:'Font Awesome 5 Free';


$font-fw-thin:100;
$font-fw-extralight:200;
$font-fw-light:300;
$font-fw-regular:400;
$font-fw-medium:500;
$font-fw-semibold:600;
$font-fw-bold:700;
$font-fw-extrabold:800;
$font-fw-black:900;





$font-fs-italic: italic;
$font-fs-normal: normal;

$breakpoint-phone:688px;
$breakpoint-tablet:992px;
$breakpoint-screen:1312px;



//Base Colours
    /*White*/ 
    
    
    // --color-charcoal-300: hsl(203, 14%, 30%),
    // --color-onyx-260: hsl(0, 0%, 26%),
    
    //Light

    // --color-bg: var(--color-white-990),
    // --color-button: var(--color-black-80),
    // --color-fg: var(--color-black-80),
    // --color-inverted: var(--color-white-990),
    // --color-about-head: 65, 65, 65,



    //Dark

    // --color-bg: var(--color-primary-200);
    // --color-button: 255, 255, 255;
    // --color-fg: 255, 255, 255;
    // --color-inverted: 0, 0, 0;
    // --color-about-head: var(--color-independence);